.App {
   text-align: center;
   font-family: 'Orbitron','Bangers', cursive, sans-serif;
}

.img {
   display: flex;
   align-items: center;
   justify-content: center;
}

.banner {
   margin: 1rem;
   width: 80%;
   border-radius: 2rem;
}

#root {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}

