:root {
  --bgof-color: rgba(144, 228, 0, 0.5);
  --fonto-color: rgba(35, 176, 203, 0.7);
  --bg-color: rgba(8, 4, 140,.7);
  --font-color: rgba(3, 176, 203);
  --bgh-color: rgb(176, 36, 66,.7);
  --fonth-color: rgba(150, 236, 253);
}
