@import '../variables.css';
.search {
  margin: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btnSearch {
  font-weight: bold;
  border: none;
  background-color: var(--bg-color);
  color: var(--font-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;font-family: 'Orbitron', 'Bangers', cursive, sans-serif;
}
.btnSearch:hover {
  background-color: var(--bgh-color);
  color: var(--fonth-color);
  box-shadow: 0rem 0rem 1rem #7863ff;
}

.inputSearch {
  font-weight: bold;
  border: none;
  background-color: var(--bg-color);
  color: var(--font-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 20rem;
  cursor: pointer;
}
.inputSearch:hover {
  background-color: var(--bgh-color);
  color: var(--fonth-color);
  box-shadow: 0rem 0rem 1rem #7863ff;
}
.inputSearch:focus {
  background-color: var(--bgh-color);
  color: var(--fonth-color);
}

.formSearch {
  display: flex;
  gap: 0.5rem;
}
