@import '../variables.css';

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.linkUl {
    display: flex;
    gap: 1rem;
}

.link {
    list-style: none;
    text-decoration: none;
    color: var(--font-color);
}
.link:hover {
    color: var(--fonth-color)
}

.imgIcon {
    width: 3rem;
    background-color: transparent;
}