@import '../../components/variables.css';

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.pinimg.com/originals/a0/b4/43/a0b44378f7765d140a88b8cc08a5dfb5.png');
  border-radius: 1rem;
  gap: 2rem;
  padding: 2rem;
  border-radius: 2rem;
}
@media screen and (max-width: 968px) {
  .containerDetail {
    flex-direction: column-reverse;
  }
}
.containerText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .3rem;
  padding: 1rem;
  background-color: var(--bgof-color);
}

.text {
  font-size: 1.2rem;
  background-color: var(--bg-color);
  color: var(--font-color);
  border-radius: 1rem;
  padding: 0.2rem;
  margin: 0;
}

.text:hover {
  background-color: var(--bgh-color);
  color: var(--fonth-color);
}

.text a {
  text-decoration: none;
  color: var(--font-color);
  border-bottom: 1px solid var(--font-color);
}
.text a:hover {
  background-color: var(--bgh-color);
  color: var(--fonth-color);
}

.img {
  border-radius: 1rem;
  width: 25rem;
  height: 25rem;
}


@media screen and (max-width: 968px) {
  .img {
    width: auto;
    height: auto;
  }
}